<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>DicePy - Welcome!</title>
    {% endif %}

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dicepy/dicepy.css') }}"> {% block css %} {% endblock %}

    <!-- JS -->
    <script src="{{ url_for('static', filename='js/jquery/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap/bootstrap.js') }}"></script> {% block scripts %} {% endblock %}
</head>

<body>
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <!-- BRAND -->
        <a href="/index" class="navbar-brand">DicePy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- CONTENT -->
        <div class="collapse navbar-collapse" id="navbarContent">

            <!-- LEFT -->
            <ul class="navbar-nav mr-auto">

                <!-- ADDRESSES -->
                <li class="nav-item">
                    <a href="/addresses" class="nav-link">Addresses</a>
                </li>

                <!-- CONTACTS -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="contactsDropdown" role="button" data-toggle="dropdown">Contacts</a>
                    <div class="dropdown-menu">
                        <a href="/contacts/clients" class="dropdown-item">Clients</a>
                        <a href="/contacts/suppliers" class="dropdown-item">Suppliers</a>
                    </div>
                </li>

                <!-- COMPANIES -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="companiesDropdown" role="button" data-toggle="dropdown">Companies</a>
                    <div class="dropdown-menu">
                        <a href="/companies/clients" class="dropdown-item">Clients</a>
                        <a href="/companies/suppliers" class="dropdown-item">Suppliers</a>
                    </div>
                </li>

                <!-- STORAGES -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="storagesDropdown" role="button" data-toggle="dropdown">Storages</a>
                    <div class="dropdown-menu">
                        <a href="/storages/warehouses" class="dropdown-item">Warehouses</a>
                        <a href="/storages/locations" class="dropdown-item">Locations</a>
                    </div>
                </li>

                <!-- PRODUCTS & (SUB)CATEGORIES -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="productsDropdown" role="button" data-toggle="dropdown">Products</a>
                    <div class="dropdown-menu">
                        <div class="dropdown-header">Manage Categories</div>
                        <a href="/categories/parents" class="dropdown-item">Parent</a>
                        <a href="/categories/children" class="dropdown-item">Children</a>
                        <hr class="dropdown-divider">
                        <div class="dropdown-header">Manage Products</div>
                        <a href="/products" class="dropdown-item">Index</a>
                        <a href="/products/in-stock" class="dropdown-item">In Stock</a>
                        <a href="/products/out-of-stock" class="dropdown-item">Out Of Stock</a>
                    </div>
                </li>

                <!-- ORDERS -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="ordersDropdown" role="button" data-toggle="dropdown">Orders</a>
                    <div class="dropdown-menu">
                        <a href="/orders/incoming" class="dropdown-item">Incoming</a>
                        <a href="/orders/outgoing" class="dropdown-item">Outgoing</a>
                    </div>
                </li>

                <!-- PAYMENTS -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="paymentsDropdown" role="button" data-toggle="dropdown">Payments</a>
                    <div class="dropdown-menu">
                        <a href="/payments" class="dropdown-item">Index</a>
                        <a href="/payments/sent" class="dropdown-item">Sent</a>
                        <a href="/payments/received" class="dropdown-item">Received</a>
                    </div>
                </li>
            </ul>

            <!-- NAVBAR RIGHT -->
            <ul class="navbar-nav ml-auto">
                {% if session.user_username %}
                <li class="nav-item">
                    <a href="/auth/profile" class="nav-link">{{ session.user_username }}</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/logout" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/auth/register" class="nav-link">Register</a>
                </li>
                <li class="nav-item">
                    <a href="/auth/login" class="nav-link">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- CONTENT CONTAINER -->
    <div class="container">

        <!-- HEADER BLOCK -->
        {% block header %} {% endblock %}

        <!-- CONTENT BLOCK -->
        {% block content %} {% endblock %}

    </div>

</body>

</html>